@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --color-turquoise: #349bbb;
  --color-coral: #da6900;
  --color-dimgray: #122d3a;
  --color-darkslategray:  #181818;
  --color-black: #03042c;
}

body, html {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Play', sans-serif;
}

body {
  background: var(--color-black);
}

a {
  text-decoration: none;
}

.text-primary {
  color:#0fa10a;
}

.text-secondary {
  color: var(--color-coral);
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}