@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --color-turquoise: #0fa10a;
  --color-coral: #b87d24;
  --color-dimgray: #82bfe2;
  --color-darkslategray:  #222222;
  --color-black: #111385;
}

body, html {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Play', sans-serif;
}

body {
  background: var(--color-black);
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--color-turquoise);
}

.text-secondary {
  color: var(--color-coral);
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}